# Luxtronik Heat Pump Configuration
# The IP Address of your Novelan Heat Pump (required).
HOST=192.168.20.180
# The port of your heat pump (default is 8889)
PORT=8889

# Logger Configuration
LOG_INTERVAL_SECONDS=30
CSV_GENERATION_TIME=07:00
