HOST=YOUR_HEATPUMP_HOST_OR_DOCKER_HOST
PORT=8889
INTERVAL_SEC=30
CSV_TIME=07:00
CACHE_PATH=/app/data/cache.db
OUTPUT_DIRS_DAILY=/app/data/daily
OUTPUT_DIRS_WEEKLY=/app/data/weekly
READABLE_HEADERS=false
